@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@342&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 100px;
  font-family: 'MuseoModerno';
  text-align: center;
  margin-top: 20px;
}

.score {
  font-size: 50px;
  text-align: center;
  font-family: 'Metal Mania', cursive;
  border: 2px solid black;
  width : 200px;
  margin: 5px auto;
}

#add_image {
  top: 188px;
  position: absolute;
  left: 33%;
}

#minus_image {
  top: 188px;
  position: absolute;
  right: 33%;
}
