@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
  background-color: #1cc7c4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#result{
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  position: absolute;
  top: 300px;
  right: 500px;
}

p{
  background-color: #87fc0a;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
  top: 20px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 80px;
  border: 2px solid black;
  border-radius: 50px;
}
.computer{
  background-color: #f72d05;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
  top: 160px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 1080px;
  border: 2px solid black;
  border-radius: 50px;
}
#cscore{
  position: absolute;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  top: 190px;
  width: 0px;
  margin-left: 1110px;
  margin-top: 100px;
  cursor: pointer;
}

.buttons{
  position: fixed;
  top: 15px;
  right: 50px;
}
#play{
  margin-right: 15px;
}
#pause{
  margin-right: 15px;
}
#next{
  margin-right: 15px;
}

.scoreboard{
  font-family: 'Metal Mania', cursive;
  text-align: center;
  font-size: 30px;
  border: 5px solid black;
  margin: auto;
  width: 150px;
  margin-bottom: 25px;
}

.images{
  position: absolute;
  top: 0px;
  width: 0px;
  margin-left: 80px;
  margin-top: 100px;
  cursor: pointer;
}

#one{
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 25%;
  margin-bottom: 30px;
}
#two{
  border: 2px solid black;
  border-radius: 25%;
  margin-bottom: 30px;
}
#three{
  border: 2px solid black;
  border-radius: 25%;
  margin-bottom: 30px;
}#four{
  border: 2px solid black;
  border-radius: 25%;
  margin-bottom: 30px;
}#five{
  border: 2px solid black;
  border-radius: 25%;
  margin-bottom: 30px;
}#six{
  border: 2px solid black;
  border-radius: 25%;
  margin-bottom: 30px;
}#seven{
  border: 2px solid black;
  border-radius: 25%;
  margin-bottom: 30px;
}#eight{
  border: 2px solid black;
  border-radius: 25%;
  margin-bottom: 30px;
}#nine{
  border: 2px solid black;
  border-radius: 25%;
  margin-bottom: 30px;
}#ten{
  border: 2px solid black;
  border-radius: 25%;
  margin-bottom: 30px;
}
